.container {
    display: block;
    .title {
        color: var(--heading);
        font-weight: 700;
    }

    .subtitle {
        color: var(--body);
        margin-top: 1rem;
        font-size: 1.125rem;
        margin-bottom: 1.5rem;
    }

    & + & {
        margin-top: 3rem;
    }
}
