.container {
    .title {
        color: var(--heading);
    }

    .subtitle {
        color: var(--body);
        margin-top: 1rem;
        font-size: 1.125rem;
        margin-bottom: 1.5rem;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        span {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: var(--info);
            font-size: 0.875rem;
            line-height: 1.05rem;

            svg {
                color: var(--info);
            }
        }
    }

    & + & {
        margin-top: 2rem;
    }
}
