.buttonLoadMorePosts {
    color: var(--highlight);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    margin-top: 4rem;
    background-color: transparent;
    border: 0;
}
